@{
    ViewData["Title"] = "Trang chủ ";
}

<!-- Banner -->
<div class="banner">
    <img src="~/images/banner.jpg" alt="Banner quảng cáo">
</div>

<!-- Danh sách sản phẩm -->
<div class="product-section">
    
</div>

