@model DoAnLTW_Nhom4.Models.Category
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Sửa danh mục";
}

<link rel="stylesheet" href="~/css/categoryView.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/button.css asp-append-version="true" />

<div class="admin-container">
    <h2>Sửa tên danh mục</h2>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn update-btn">Cập nhật</button>
        <a asp-action="Index" class="btn back-btn">Quay lại</a>
    </form>
</div>
<style>
    .form-group{
        margin: 10px;
    }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}