<div class="no-products">
    <p>Không tìm thấy sản phẩm nào.</p>
</div>

<style>
    .no-products {
        text-align: center;
        padding: 5px;
        font-size: 18px;
        color: #888;
    }

</style>