@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "_LayoutAccessDenied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">BẠN KHÔNG CÓ QUYỀN TRUY CẬP TRANG NÀY.</p>
</header>
