<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Admin Dashboard</title>
    <link rel="stylesheet" href="~/css/categoryView.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37TmxMieEqfG5zKrsG0zlUklkbjLlWjvWX/9IMC6VMZrykZfhaAoQRg60f8JiGNRmWDBWUSHSVkLQR4wEq0WZg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxrrVCBJGME6pct9eqookhkYU9ruHeKzC6imvPLgzjJwY8Ip0ghdrNHxYkHAcVJt4VgPyCyr+iR61kwgUQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        <header class="header">
            <a href="/Admin/Home/Index" class="logo">🛠 Admin Dashboard</a>
        </header>

        <!-- Menu điều hướng -->
        <nav class="nav">
            <ul>
                <li><a href="/Admin/Home/Index">Trang chủ</a></li>
                <li><a href="/Admin/Category/index">Quản lý danh mục</a></li>
                <li><a href="/Admin/Brand/index">Quản lý thương hiệu</a></li>
                <li><a href="/Admin/Product/Index">Quản lý sản phẩm</a></li>
                <li><a asp-area="Admin" asp-controller="Order" asp-action="Index">Quản lý đơn hàng</a></li>
                <li><a asp-area="Home" asp-controller="Home" asp-action="Index">Trang Bán Hàng</a></li>
            </ul>
        </nav>

        <!-- Nội dung chính -->
        <div class="container">
            <aside class="sidebar">
                <h4>CHỨC NĂNG QUẢN TRỊ</h4>
                <ul class="admin-menu">
                    <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Thống kê</a></li>
                    <li><a href="/Admin/Product/Add">Thêm sản phẩm</a></li>
                    <li><a asp-area="Admin" asp-controller="Order" asp-action="Pending">Đơn hàng chờ xử lý</a></li>
                </ul>
            </aside>
            <main role="main" class="main">
                @RenderBody()
            </main>
        </div>

    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
